.fixed {
  position: fixed;
  margin: 10;
  top: 0;
  right: 0;
  width: 288px;
  height: 288px;
}
.expandedFixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
}

.mapboxgl-children {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow interactions with the map underneath */
  z-index: 1; /* Ensure it's above the map canvas */
}

.maplibregl-map {
  position: relative;
  width: 100%;
  height: 100%;
}
.maplibregl-marker {
  position: absolute;
  transform: translate(-50%, -100%); /* Center the marker horizontally and align it vertically */
  pointer-events: auto; /* Allow interactions with the marker */
  z-index: 2; /* Ensure the marker is above the map canvas */
}

.maplibregl-canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.maplibregl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Ensure the marker container is layered above the map canvas */
.mapboxgl-children {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow interactions with the map underneath */
  z-index: 1; /* Ensure it's above the map canvas */
}